*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.tito{
    margin-top: 90px;
}
#fotos-Cba img{
    width: 100%;
    height: 200px;
    padding: 15px;

}
#fotos-Cba img:hover{
    border: 5px solid rgb(239, 243, 247);
    border-radius: 50px;
    box-shadow: 2px 2px;
}

#title-cba{
   
    font-size: 60px;
    
    text-align: center;
}
